header{
    height:83px;
    width:100%;
    background-color:rgba(247,250,252,1);
}
body{
    margin:0;
}
/* hr{
    width:20px;
    height:3px;
    background-color: black;
    margin: 2px 0;
} */

img{
    margin-left: 73px;
    margin-bottom: -43px;
}
.wrap{
    position: absolute;
    top:38px;
    left:42px;
    transform: translate(-50%,-50%);

}
.menu{
    width:23px;
    height:2px;
    background-color: black;
    margin:4px 0;
}
div a{
    text-decoration: none;
    margin-left: 139px;
    font-size: 22px;
    text-decoration: none;
    color: var(--gm3-sys-color-on-surface,#1f1f1f);
    font-weight: 400px;
}

/* .contacts{
    text-decoration: none;
    margin-left: 20px;
} */
div a:hover{
    text-decoration: underline;
}
form input{
    border-radius: 7px;
    margin-left: 305px;
    padding-top: 12px;
    color: #5f6368;
    border-color: none;
    margin-block: auto;
    margin-top: -35px;
    width: 619px;
    height: 48px;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
}
/* .search{
    position: inherit;
    padding-left: 426px;
} */
input{
    background-color: whitesmoke;
    width: 574px;
    height:51px;
    margin-left: 283px;
    margin-top: -46px;
    border-radius: 6px;
}

.si{
    padding: 4px;
    margin: 7px;
}
/* div input{
    margin-top: 0px;
    margin-left: 49px;
    background-color: whitesmoke;
    width: 400px;
    height: 3px;
    
    border: whitesmoke; */
/* li{
    list-style: none;
    margin-left: 200px;
    margin-top: 200px;
} */
.left-section{
    background-color: rgba(247,250,252,1);
    height: 570px;
    width: 283px;
    position: sticky;
    float:left;
    
}
.button{
    height: 54px;
    width: 175px;
    border-radius: 23px;
    /* border-radius: 16px; */
    margin-top: 7px;
    border: none;
    margin-left: 20px;
    background-color: var(--mdc-extended-fab-container-color,var(--gm3-sys-color-secondary-container,#c2e7ff));
}
i {
    font-size: xx-large;
    margin-left: -30px;
    margin-top: -16px;
    position: absolute;
}

span{
    font-size: 15px;
    color: var(--mdc-extended-fab-label-text-color,var(--gm3-sys-color-on-secondary-container,#001d35));
    padding: 10px;
    padding-top: -10px;
    margin: 1px;
    position: absolute;
    margin-top: -23px;
    margin-left: -49px;
}
.button2{
    height:45px;
    width: 240px;
    border-radius: 33px;
    /* border-radius: 16px; */
    margin-top: 16px;
    border: none;
    margin-left: 20px;
    background-color: var(--mdc-extended-fab-container-color,var(--gm3-sys-color-secondary-container,#c2e7ff));
}
.fa-solid{
    font-weight: 600;
    margin-top: 3px;
    margin-left: -96px;
    font: revert;
}
.contacts{
    margin-left: -69px;
    font-weight: 600;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.history{
    /* font-size: 16px;
    margin-left: -33px; */
    height: 36px;
    width: 175px;
    border-radius: 23px;
    margin-top: 12px;
    border: none;
    margin-left: 20px;
    background-color: rgba(247,250,252,1);;
}
.frequent{
    margin-left: -1px;
    font-size: 16px;
    margin-top: -29px;
}
.img-his{
    height: 54px;
    width: 175px;
    border-radius: 23px;
    margin-top: -20px;
    border: none;
    margin-left: -102px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.archive{
    /* font-size: 16px;
    margin-left: -33px; */
    margin-left: -33px; 
    height: 36px;
    width: 242px;
    border-radius: 23px;
    margin-top: 18px;
    border: none;
    margin-left: 20px;
    background-color: rgba(247,250,252,1);
}
.img-archive{
    height: 54px;
    width: 175px;
    border-radius: 23px;
    margin-top: -20px;
    border: none;
    margin-left: -102px;
}
.otherc{
    /* margin-left: 112px;
    font-size: 16px; */
    
    
    margin-left: 13px;
    font-size: 16px;
    margin-top: 28px;
    display: inline;
    position: absolute;
}

.archive:hover{
    background-color: gray;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.info{
    font-size: 16px;
    margin-left: 219px;
    margin-top: -22px;
}
.fm{
    margin-left: 36px;
    font-size: 16px;
    margin-top: 18px;
} 
.handyman{
    margin-left: -33px; 
    height: 36px;
    width: 242px;
    border-radius: 23px;
    margin-top: 18px;
    border: none;
    margin-left: 20px;
    background-color: rgba(247,250,252,1);
}
.img-handyman{
    height: 54px;
    width: 175px;
    border-radius: 23px;
    margin-top: -20px;
    border: none;
    margin-left: -102px;
}
.mf{
    margin-left: 13px;
    font-size: 16px;
    margin-top: 28px;
    display: inline;
    position: absolute;
}
.download{
    /* font-size: 16px;
    margin-left: -33px; */
    margin-left: -33px; 
    height: 36px;
    width: 242px;
    border-radius: 23px;
    margin-top: 18px;
    border: none;
    margin-left: 20px;
    background-color: rgba(247,250,252,1);
}
.img-download{
    height: 54px;
    width: 175px;
    border-radius: 23px;
    margin-top: -20px;
    border: none;
    margin-left: -102px;
}
.import{
    margin-left: 150px;
    font-size: 16px;
}
.download:hover{
    background-color: gray;
}
.di{
    /* font-size: 16px;
    margin-left: -33px; */
    margin-left: -33px; 
    height: 36px;
    width: 242px;
    border-radius: 23px;
    margin-top: 18px;
    border: none;
    margin-left: 20px;
    background-color: rgba(247,250,252,1); 
}
.img-di{
    height: 54px;
    width: 175px;
    border-radius: 23px;
    margin-top: -20px;
    border: none;
    margin-left: -102px;
}
.delete{
    margin-left: 150px;
    font-size: 16px;
}
.di:hover{
    background-color: gray;
}
.labels{
    margin-left: 35px;
    font-size: 16px;
    margin-top: 38px;
}
.plus{
    font-size: 16px;
    margin-left: 186px;
    margin-top: -50px;
}

.button:hover{
    scale: 1.1;
}
.history:hover{
    background-color: grey;

}
.handyman:hover{
    background-color: gray;
}
.right-section{
    background-color: white;
    height: 570px;
    width: auto;
    
}
.contact{
    margin-top: 39px;
    font-size: 30px;
    font-weight: 400;
    position: fixed;
    margin-left: 312px;

}
#name{
    margin-top: 98px;
    margin-left: 315px;
    position: fixed;
}
#email{
    margin-top: 98px;
    margin-left: 555px;
    position: fixed;
}
#ph{
    margin-top: 98px;
    margin-left: 761px;
    position: fixed;
}
#jc{
    margin-top: 98px;
    margin-left: 995px;
    position: fixed;
}

.settings{
    margin-left: 79px;
    margin-top: -4px;
}
.imp{
    margin-left: 61px;
    margin-top: -4px;
}
/* hr{
    margin: 1rem 0;
    color: black;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
    padding-left: 1040px;
    margin-top: 295px;
    margin-left: 103px;
} */
.print{
    margin-left: 42px;
    margin-top: -4px;
    position: fixed;
}
/* 
.print-btn{
    height: 20px;
    width: 27px;
    border-radius: 23px;
    border: none;
    margin-left: 907px;
    margin-top: 68px;
    background-color: rgba(247,250,252,1); 
    float: left;
}

.print-btn:hover{
    background-color: aliceblue;
}
.imp-btn{
    height: 20px;
    width: 27px;
    border-radius: 23px;
    border: none;
    margin-left: 979px;
    margin-top: 69px;
} */
/* .searchbar{
    width:100%;
    min-width: 700px;
    display:flex;
    align-items: center;
    border-radius: 50px;
    
}
.searchbar input{
    border: 0;
    margin-left: 360px;
    flex: 1;
    outline: none;
    padding: 24px 69px;
} */
::placeholder{
    padding: 24px;
}
form button{

}
form img{

}
.input-icons i {
    position: absolute;
}
 
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
 
.icon {

    padding: 10px;
    min-width: 40px;
    margin-left: 3px;
    margin-top: 11px;
}
 
.input-field {
    width: 608px;
    padding: 10px;
    text-align: start;
    color: #5f6368;
    border: thin;
    border-radius: 11px;
}

div th{
    padding: 15px;
}
/* th, td {
    padding: 15px;
  } */
  .email{
        padding-left: 172px;
        font-weight: 400;
        
  }
  .phone{
    padding-left: 146px;
    font-weight: 400;
  }
  .jtc{
    padding-left: 108px;
    font-weight: 400;
  }
  .name{
    font-weight: 400;
    padding-left: 25px;
  }
  h3{
    padding-top: 39px;
    font-family: "Google Sans";
    padding-left: 301px;
  }
table{
    margin-top: 7px;
}
hr{
    width: 1005PX;
}
tr{

}